* {
    font-family: 'Roboto', sans-serif;

}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b;


}

body {
    background: #22272b !important;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
    HEADER
 */
header h1,
.header__logo {
    text-decoration: none;
    margin-top: 13px;
}

header {
    background: #262b30;
    height: 70px;
}

header * {
    color: #ffffff;
}

header h1 a {
    color: #ffffff;
}

header h1 a:hover {
    color: #ffffff;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
    padding: 22px;
}

header ul li a:hover {
    background: #07bcc2;
    transition: 0.5s;
    color: #000000;
}

header ul li ul {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    margin-left: 43px;
    background: white;
    color: #008489;
}



.main-content h2 {
    margin: 30px 0;
    color: #ffffff;
}

.main-content .post {
    margin-bottom: 30px;
}

.main-content .post_text {
    background: #2b3136;
    color: #ffffff;
    padding: 8px;
    border-radius: 3px;
}

.main-content .post_text h3 {
    margin: 14px 0;
}

.post_text>h3>a {
    text-decoration: none;
    color: inherit;
}


.main-content .post_text h3 a:hover {

    color: #5c5b5b;
}

.main-content .post_text i {
    margin: 0px 14px 14px 0;
}

/*
    Sidebar
 */
.search {
    margin-top: 98px;
}

.sidebar .section {
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.sidebar .topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}

.sidebar .topics ul li a {
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #5c5b5b;
    font-size: 1.2em;
}

.sidebar .topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
    color: #000;
}


.footer {
    background: #262b30;
    color: #dddddd;
    position: relative;
}


.footer .footer-section  {
    padding: 20px;
}

.footer .about .socials a{
    border: 1px solid lavender;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    color: #fff;
}

.footer .about .socials a:hover {
    color: gray;
    transition: all .3s;
    border: 1px solid gray;


}